.additional-information-item{
    margin-top: 10px;
}
.success{
    color: green;
}
.failed{
    color: red;
}
.howtorefund-block-item{
    margin-left: 30px;
}
.howtorefund-separator{
    margin-top:30px;
    clear: both;
}


