<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <skrill_settings>
                <title>Skrill Settings</title>
                <version>2.0.22</version>
                <merchant_id></merchant_id>
                <merchant_account></merchant_account>
                <recipient_desc></recipient_desc>
                <logo_url></logo_url>
                <shop_url></shop_url>
                <api_passwd></api_passwd>
                <secret_word></secret_word>
                <display>IFRAME</display>
                <merchant_email></merchant_email>
            </skrill_settings>
            <skrill_multicurrency_settings>
                <multicurrency_hidden_eur>0</multicurrency_hidden_eur>
                <multicurrency_hidden_usd>0</multicurrency_hidden_usd>
                <multicurrency_hidden_gbp>0</multicurrency_hidden_gbp>
                <multicurrency_hidden_hkd>0</multicurrency_hidden_hkd>
                <multicurrency_hidden_sgd>0</multicurrency_hidden_sgd>
                <multicurrency_hidden_jpy>0</multicurrency_hidden_jpy>
                <multicurrency_hidden_cad>0</multicurrency_hidden_cad>
                <multicurrency_hidden_aud>0</multicurrency_hidden_aud>
                <multicurrency_hidden_chf>0</multicurrency_hidden_chf>
                <multicurrency_hidden_dkk>0</multicurrency_hidden_dkk>
                <multicurrency_hidden_sek>0</multicurrency_hidden_sek>
                <multicurrency_hidden_nok>0</multicurrency_hidden_nok>
                <multicurrency_hidden_ils>0</multicurrency_hidden_ils>
                <multicurrency_hidden_myr>0</multicurrency_hidden_myr>
                <multicurrency_hidden_nzd>0</multicurrency_hidden_nzd>
                <multicurrency_hidden_try>0</multicurrency_hidden_try>
                <multicurrency_hidden_aed>0</multicurrency_hidden_aed>
                <multicurrency_hidden_mad>0</multicurrency_hidden_mad>
                <multicurrency_hidden_qar>0</multicurrency_hidden_qar>
                <multicurrency_hidden_sar>0</multicurrency_hidden_sar>
                <multicurrency_hidden_twd>0</multicurrency_hidden_twd>
                <multicurrency_hidden_thb>0</multicurrency_hidden_thb>
                <multicurrency_hidden_czk>0</multicurrency_hidden_czk>
                <multicurrency_hidden_huf>0</multicurrency_hidden_huf>
                <multicurrency_hidden_bgn>0</multicurrency_hidden_bgn>
                <multicurrency_hidden_pln>0</multicurrency_hidden_pln>
                <multicurrency_hidden_isk>0</multicurrency_hidden_isk>
                <multicurrency_hidden_inr>0</multicurrency_hidden_inr>
                <multicurrency_hidden_krw>0</multicurrency_hidden_krw>
                <multicurrency_hidden_zar>0</multicurrency_hidden_zar>
                <multicurrency_hidden_ron>0</multicurrency_hidden_ron>
                <multicurrency_hidden_hrk>0</multicurrency_hidden_hrk>
                <multicurrency_hidden_jod>0</multicurrency_hidden_jod>
                <multicurrency_hidden_omr>0</multicurrency_hidden_omr>
                <multicurrency_hidden_rsd>0</multicurrency_hidden_rsd>
                <multicurrency_hidden_tnd>0</multicurrency_hidden_tnd>
                <multicurrency_hidden_bhd>0</multicurrency_hidden_bhd>
                <multicurrency_hidden_kwd>0</multicurrency_hidden_kwd>
                <multicurrency_hidden_pen>0</multicurrency_hidden_pen>
            </skrill_multicurrency_settings>
        </general>
        <payment>
            <skrill_flexible>
                <active>0</active>
                <show_separately>1</show_separately>
                <model>Skrill\Skrill\Model\Method\Flexible</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>All Cards and Alternative Payment Methods</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,VA,GB</specificcountry>
            </skrill_flexible>
            <skrill_wlt>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Wlt</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Skrill Wallet</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,VA,GB,US</specificcountry>
            </skrill_wlt>
            <skrill_vsa>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Vsa</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,VA,GB,US</specificcountry>
            </skrill_vsa>
            <skrill_psc>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Psc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Paysafecard</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AS,AT,BE,CA,HR,CY,CZ,DK,FI,FR,DE,GU,HU,IE,IT,LV,LU,MT,MX,NL,MP,NO,PL,PT,PR,RO,SK,SI,ES,SE,CH,TR,GB,US,VI</specificcountry>
            </skrill_psc>
            <skrill_pch>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Pch</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Paysafecash</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,HR,HU,IT,MT,PT,RO,SI,ES</specificcountry>
            </skrill_pch>
            <skrill_acc>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <card_selection>AMEX,VISA,MASTER,MAESTRO</card_selection>
                <transaction_mode>DB</transaction_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Acc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Credit Card / Visa, Mastercard, AMEX</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,VA,GB</specificcountry>
            </skrill_acc>
            <skrill_msc>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Msc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>MasterCard</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,VA,GB,US</specificcountry>
            </skrill_msc>
            <skrill_mae>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Mae</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Maestro</title>
                <allowspecific>1</allowspecific>
                <specificcountry>GB,ES,IE,AT</specificcountry>
            </skrill_mae>
            <skrill_amx>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Amx</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>American Express</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,VA,GB</specificcountry>
            </skrill_amx>
            <skrill_gcb>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Gcb</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Carte Bleue by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
            </skrill_gcb>
            <skrill_dnk>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Dnk</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Dankort by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DK</specificcountry>
            </skrill_dnk>
             <skrill_psp>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Psp</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>PostePay by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
            </skrill_psp>
            <skrill_csi>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Csi</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>CartaSi by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
            </skrill_csi>
            <skrill_obt>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Obt</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Rapid Transfer</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,FR,DE,HU,IT,NO,PL,PT,ES,GB,SE,FI,DK</specificcountry>
            </skrill_obt>
            <skrill_ntl>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Ntl</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Neteller</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BO,BA,BW,BR,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CX,CO,KM,CG,CR,HR,CY,CZ,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GT,GG,GW,GY,HT,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KE,KI,KW,LA,LV,LB,LS,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MQ,MR,MU,YT,MX,MD,MC,ME,MS,MA,MZ,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,NO,OM,PS,PA,PG,PY,PE,PH,PN,PL,PT,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SG,SK,SI,SB,ZA,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TZ,TH,TG,TK,TO,TT,TN,TR,TC,TV,VA</specificcountry>
            </skrill_ntl>
            <skrill_gir>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Gir</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Giropay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </skrill_gir>
            <skrill_did>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Did</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Direct Debit / SEPA</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </skrill_did>
            <skrill_sft>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Sft</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Sofort</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE,AT,BE,NL,IT,FR,PL,HU,SK,CZ,GB</specificcountry>
            </skrill_sft>
            <skrill_ebt>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Ebt</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Nordea Solo</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SE</specificcountry>
            </skrill_ebt>
            <skrill_idl>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Idl</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>iDEAL</title>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
            </skrill_idl>
            <skrill_npy>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>Skrill\Skrill\Model\Method\Npy</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>EPS (Netpay)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
            </skrill_npy>
            <skrill_pli>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Pli</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>POLi</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AU</specificcountry>
            </skrill_pli>
            <skrill_pwy>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Pwy</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Przelewy24</title>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
            </skrill_pwy>
            <skrill_epy>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Epy</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>ePay.bg</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BG</specificcountry>
            </skrill_epy>
            <skrill_glu>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Glu</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Trustly</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,BE,BG,CZ,DK,EE,FI,DE,HU,IE,LV,LT,NL,PL,RO,SK,SI,ES,SE,GB,NO</specificcountry>
            </skrill_glu>
            <skrill_ali>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Ali</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Alipay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>CN,GB</specificcountry>
            </skrill_ali>
            <skrill_adb>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Adb</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Direct Bank Transfer</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AR,BR</specificcountry>
            </skrill_adb>
            <skrill_aob>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Aob</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Manual Bank Transfer</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BR,CL,CO</specificcountry>
            </skrill_aob>
            <skrill_aci>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Aci</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Cash/Invoice</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AR,BR,CL,CO,MX,PE,UY</specificcountry>
            </skrill_aci>
            <skrill_aup>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Aup</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Unionpay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>CN</specificcountry>
            </skrill_aup>
            <skrill_btc>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>Skrill\Skrill\Model\Method\Btc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Bitcoin</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BB,BY,BE,BZ,BJ,BM,BT,BA,BW,BV,BR,BN,BG,BF,BI,KH,CM,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IE,IM,IL,IT,JM,JE,JO,KZ,KE,KI,KW,LA,LV,LB,LS,LR,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,SH,KN,LC,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SR,SJ,SZ,SE,CH,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TM,TC,TV,VA,GB</specificcountry>
            </skrill_btc>
        </payment>
    </default>
</config>
