*{margin: 0; padding: 0;}
.group {
    padding : 10px 0px;
}
.group-list {
    width : 100%;
    float : left;
}
.group-add {
    float: left;
    width: 100%;
}
.group-img {
    float: left;
    width: 115px;
    margin-bottom: 10px
}
.brandImage {
    height : 35px;
    margin-right: 10px;
    float : left;
}
.group-info {
    width : 100%;
    margin-right : 10px;
    float : left;
    padding : 5px;
    border : 1px solid;
    max-width: 300px;
    min-height: 20px;
    margin-bottom: 10px;
}
.group-button {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}
.btnDefault {
    float : left;
    margin-right : 10px;
    width : 30%;
    min-width: 166px;
    max-width: 166px;
}
.btnChange {
    float : left;
    margin-right : 10px;
}
.btnDelete {
    float : left;
}
.btnAdd {
    float : left;
    margin-top: 5px;
    margin-bottom: 10px;
}
.btnDeleteCancel {
    float: left;
    margin-right: 10px;
    line-height: 1.6rem;
}
.btnDeleteConfirm {
    float: left;
}

.subtotal{
    text-align: right;
}

@media screen and (max-width: 624px) {
    .col_mobile{
        display: none !important;
    }
}



