*{
    margin: 0;
    padding: 0;
}
.col-left{
    float: none !important;
    width: 0 !important;
    display: none;
}
.col-main{
    float: none !important;
    width: 100% !important;
}
.wpwl-button{
    margin-top: 10px !important;
    box-shadow: none !important;
}
.btn_cancel {
    float: left;
    color: #fff !important;
    background-color: #aaa;
    border-color: #999;
    border-radius: 4px;
}
.btn_cancel: hover {
    color: #fff;
    background-color: #999;
}
.page-title h1{
    text-align: center !important;
}

.payment-logo{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 20px;
}
.wpwl-form{
    margin: 0 auto 2px !important;
}
.frametest{
    margin: 0 auto;
    width: 100%;
    border: 10px solid red;
    max-width: 30em;
    padding: 0;
}
.testmode{
    margin: 0 auto !important;
    padding: 3px 0 10px 0;
    width: 100%;
    font-size: 13px !important;
    font-weight: bold;
    color: #fff !important;
    background-color: red;
    text-align: center;
}
.powered{
    font-size:15px;
    font-weight: bold;
    margin:10px auto;
    width: 100%;
    max-width: 30em;
    padding:0 5px;
    text-align: center;
}
.register-tooltip{
    font-size:11px;
    margin:10px auto;
    width: 100%;
    max-width: 30em;
    padding:0 5px;
    text-align: center;
}

.wpwl-brand-VISA {
    margin-top: 5px !important;
}

.wpwl-control {
    padding: 2px 2px !important;
}

.wpwl-wrapper-brand {
    padding-right: 2px !important;
    min-width: 150px !important;
}

.wpwl-brand-card {
    width: 65px !important;
}

@media (min-width: 480px){
    .wpwl-wrapper-registration-details{
        padding: 0 9px 0 15px !important;
    }
}

@media (max-width: 479px){
    .account .page.messages {
        margin-bottom: 0 !important;
    }
    .frametest{
        width: 92%;
    }
    .page-title {
        text-align: center;
        line-height: 36px;
    }
    .btn_left_wrapper {
        float: none;
        width: 100%;
    }
    .btn_right_wrapper {
        float: none;
        width: 100%;
    }
    .btn_cancel {
        width: 100%;
    }
    .wpwl-button-pay {
        width: 100%;
    }
    .wpwl-wrapper-registration-details {
        width: 100%;
        padding-top: 10px;
    }
    .wpwl-wrapper-registration-registrationId {
        width: auto !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 360px){
    .wpwl-label-brand {
        padding-right: 87px !important;
    }

    .wpwl-wrapper-brand {
        padding-right: 0px !important;
        min-width: 160px !important;
    }
}



